<div class="homeContainer">
<img class="logo" src="/images/beer.png">
<a class="btn btnBeer" href="/Beers" >Check the Beers!</a>
<a class="btn btnRandomBeer" href="/random_Beers" >Check a random Beer!</a>
</div>

